<h1>
  {{title}}

  <div *ngIf="loggedIn()">
    Welcome {{user}}
  </div>

  <div>
      <input type="text" [(ngModel)]="brand">
      <input type="text" [(ngModel)]="model">
      <button type="button" (click)="addProduct()">Add</button>
  </div>

  <div *ngIf="products && products.length > 0">
    <table>
      <tbody>
        <tr *ngFor="let p of products">
          <td>{{ p.brand }} </td>
          <td>{{ p.model }} </td>
          <td> <img [src]="p.img" height="35" width="50" > </td>
          <td> <button type="button" (click)="logProduct(p)" > click me !</button></td>
          <td> <input type="text" [(ngModel)]="dataBinding" (keyup)="changed()" > </td>
          <td> <button type="text" (click)="remove(p)" >delete</button>
        </tr>
      </tbody>
    </table>
  </div>

</h1>